<div class="real-motivation">
<h1>Some days are hard</h1>
<h2>Here's a little inspiration to help get through it</h2>
<img src=<%= @url %>><br>
<a href="/inspirations">Get Motivated!!!!!!!!!</a>
</div>
